<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About</title>
</head>

<body>
<section>
    
    <section class="nav">
        <a href="/home">Home</a>
        <a href="/work">Career</a>
        <a href="/albums">Albums</a>
    </section>
    <h3>About</h3>
    <img src="/images/billie eilish.jpg" alt="billie-pic" width= "500px">  
    <p>
        Billie Eilish (pronounced Bil-lee eye-lish) was born on December 18th, 2001 to Maggie Baird and Patrick O'Connell, and raised in Los Angeles to a family of actors and musicians. She was homeschooled along with brother Finneas O'Connell, who would later go on to be Eilish's songwriting partner and producer. Eilish joined the Los Angeles Children's Chorus at age eight, where she perfected her vocal abilities. At age eleven, Eilish began writing and singing her own songs, taking after Finneas who was already performing his own songs with his band.
    </p>
    <section>
        <h3>Awards & Achievements</h3>
        <ul>
            <li>Billie Eilish became the youngest person to get featured in Forbes Celebrity 100 list in 2020</li>
            <li>She has won seven Grammy Awards, two American Music Awards, one BRIT Award.</li>
            <li>Billie Eilish is the youngest female artist ever to win the Prestigious Album of the year award in 2020.</li>
        </ul>
    </section>
    
</body>
</html>