<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Albums</title>
</head>

<body>
<section>
    
    <section class="nav">
        <a href="/home">Home</a>
        <a href="/about">About</a> 
        <a href="/work">Career</a>
    </section>
    <h3>Albums</h3>
    <div class="pictures">
        <img src="./images/1.jpg" alt="album-1" width="300px">
        <img src="./images/2.jpg" alt="album-2" width="300px">
        <img src="./images/3.jpg" alt="album-3" width="300px">
        <img src="./images/4.jpg" alt="album-4" width="300px">
        
    </div>
    <div class="pictures">
        <img src="./images/5.jpg" alt="album-5" width="300px">
        <img src="./images/6.jpg" alt="album-6" width="300px">
        <img src="./images/7.jpg" alt="album-7" width="300px">
        <img src="./images/8.jpg" alt="album-8" width="300px">
    </div>
    
    
</body>
</html>