<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home</title>
</head>
<body>
<section class="nav">
   <a href="/about">About</a>
   <a href="/work">Career</a>
   <a href="/albums">Albums</a>

</section>
<h1>Billie Eilish</h1>
<img class="cover" src="/images/billie.jpg" alt="billie-pic" >  

</body>
</html>