body {
    background-color: rgb(235, 227, 217);
}
a {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(88, 73, 56); 
    padding: 20px;
    font-weight: bold;
}

.nav{
    display: flex;
    align-items: flex-start;
    flex:content;
    flex-direction:row;  
    float: right;
    
}
.cover {
    width: 1400px;  
    display: flex;
    background-size: cover;
}
h1{
    font-size: 12rem;
    position: absolute;
    color:rgba(232, 227, 222, 0.7); 
    top: 50%;
    margin: 5%;
   
}
h3 {
    font-size: 3rem;
    color: rgb(88, 73, 56); 
    padding: none;

}
p {
    font-size: 1.2rem;
    text-align: justify;
    color: rgb(93, 81, 4); 
    margin: 10px;
    padding: 10px;
}
h4 {
    font-size: 1.3rem;
    color: rgb(88, 73, 56);
    margin: 10px; 

}
li{
    font-size: 1.2rem;
    text-align: justify;
    color: rgb(93, 81, 4); 
    list-style: georgian;
    margin: 10px;

}
.pictures{
    display: flex;
    align-content: center;
}
img{
    display: flex;
    float: left;
    padding: 10px;
}
